<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
   <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
     href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  </script>

  <!-- Our own style sheet -->
  <link rel="stylesheet" href="/static/css/memos.css" />

  <!-- jstz permits us to retrieve the client's time zone setting -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.6/jstz.js">
  </script>

  <!-- moment.js is the JavaScript equivalent of arrow.py -->
  <script 
    src="{{ url_for('static', filename="js/moment.min.js") }}"></script>

</head>

<body>
<div class="container">

<h1>Create New Memo</h1>
<br />
<div class="center-block">
<form id="memo" method="POST" action="/_creatememo">
  <label>Set for </label>
    <input type="hidden" name="tzdate" id="tzdate"></input>
    <input type="datetime-local" name="date" id="date" value="2017-01-01T00:00" />
  <textarea class="memotext" name="memotext"></textarea>
  <button type="submit" onclick="addTZ()">Create Memo</button>
</div>
</form> 

<script type="text/javascript">
function addTZ(){
  var d = $("#date").val();
  var date = moment(d).toISOString();
  document.getElementById("tzdate").value = date;
}
</script>

</div><!-- End of container -->
</body>
</html>